{% extends 'base.html.twig' %}

{% block title %}Votre Offre{% endblock %}

{% block body %}
    <h2>Votre Offre</h2>
    {{ form_start(form) }}
        {{ form_row(form.intitule) }}
        {{ form_row(form.contrat) }}
        {{ form_row(form.category) }}
        {{ form_row(form.entreprise) }}
        {{ form_row(form.logo) }}
        {{ form_row(form.url) }}
        {{ form_row(form.lieu) }}
        {{ form_row(form.pays) }}
        {{ form_row(form.description) }}
        {{ form_row(form.email) }}
        {{ form_row(form.postuler) }}
        {{ form_row(form.submit, { 'attr' : { 'class' : 'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}
